/* Global Styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --primary-color: #0000;
  --text: calc(1.5rem + 1vw);
  --nav-text: calc(0.5rem + 1vw);
  --bigText: calc(6rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'Ruh1';
  src: url('../public/fonts/FrankRuhlLibre-Regular.ttf');
}
@font-face {
  font-family: 'Ruh1 Medium';
  src: url('../public//fonts/FrankRuhlLibre-Medium.ttf');
}
@font-face {
  font-family: 'GreatVibes';
  src: url('../public/fonts/GreatVibes-Regular.ttf');
}
h1 {
  font-size: var(--header1);
  font-family: 'GreatVibes', sans-serif;
}
li,
button,
input,
label,
p,
a {
  font-size: var(--text);
}
ul {
  list-style: none;
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}

h4,
h5 {
  font-size: var(--header4);
}
a {
  text-decoration: none;
  color: black;
}
